node_modules/
dist/
.env
.env.local
.env.*.local
*.env
hugging*.env*
hugging.env.txt
openai.env
groq.env
powerbi.env
metabase.env
supabase.env
supabase.token.env
supabase.token.env.txt
import.auth.env
supabase.env
llm.env
openai*.env
!openai.env.example
!groq.env.example
!powerbi.env.example
!METABASE.env.example
!import.auth.env.example
!supabase.env.example
!*.env.example
!POWERBI.env.example
API URL.env
DSS_Project_New.env
passupabase.env
reset pass database.env
anon public*.env*
.cloudflared/
__pycache__/
*.pyc
cloudflared/config.yml
*.log.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
coverage/
*.tsbuildinfo
